@import "tailwindcss";
html {
    scroll-behavior: smooth;
  }
  
  /* Optional: Adjust scroll margin so the navbar doesn't cover section headings */
  section {
    scroll-margin-top: 80px; /* Adjust this to match your Navbar height */
  }